/* from left */
.animated-element-from-left {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.6s ease-in, transform 0.6s ease-in;
}

/* from right */
.animated-element-from-right {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.6s ease-in, transform 0.6s ease-in;
}

/* from bottom  */
.animated-element-from-bottom {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.6s ease-in, transform 0.6s ease-in;
}

/* appear  */
.animated-element-appear {
  opacity: 0;
  transition: opacity 1.5s ease-in;
}

.in-view-X {
  opacity: 1;
  transform: translateX(0px);
}
.in-view-Y {
  opacity: 1;
  transform: translateY(0px);
  animation-duration: 300;
}
.in-view-appear {
  opacity: 1;
  animation-duration: 1000;
}
