@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  max-width: 1440px;
  min-width: 300px;
  margin: 0 auto;
}

.overlay {
  background: linear-gradient(
    to top right,
    rgba(0, 0, 0, 0.85) 30%,
    rgba(0, 0, 0, 0) 90%
  );
  @apply absolute top-0 left-0 w-full h-full;
}
