@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Rethink Sans", sans-serif;
}

body {
  max-width: 2440px;
  min-width: 360px;
  margin: 0 auto;
}
p {
  @apply text-slate-700;
}
.overlay {
  background: linear-gradient(
    to top right,
    rgba(0, 0, 0, 0.9) 20%,
    rgba(0, 0, 0, 0.3) 90%
  );
  @apply absolute top-0 left-0 w-full h-full;
}

/* Style of map container leaflet  */

.leaflet-container {
  @apply h-screen w-full;
}

.custom-icon {
  @apply bg-colorRed size-8 text-white rounded-full flex justify-center items-center;
}

/* Home banner slider bg */

@media (max-width: 477px) {
  .slider-bg {
    width: 100%;
    height: 80%;
    margin-top: 60px;
  }
}

@media (min-width: 477px) {
  .slider-bg {
    width: 100%;
    height: 80%;
    margin-top: 60px;
  }
}
@media (min-width: 488px) and (max-width: 768px) {
  .slider-bg {
    width: 450px;
    height: 80%;
    margin-top: 100px;
  }
}

@media (min-width: 1157px) {
  .slider-bg {
    width: 448px;
    height: 80%;
    margin-top: 100px;
  }
}

/* CARD TITLE */
.card-title {
  color: #1f2937;
  font-size: 14px;
  font-weight: 700;
}
.card-star {
  width: 25px;
  height: 25px;
}
.star-text,
.card-price {
  font-size: 14px;
}

.card-btn {
  font-size: 12px;
  padding: 8px 6px;
}

.red-cross {
  width: 100%;
  position: absolute;
  border: 1px solid red;
  top: 8px;
}

/* CARD */

/*0px - 360px */
@media (max-width: 360px) {
  .card {
    width: 150px;
    height: 170px;
  }
  .card-img {
    width: 70px;
    height: 70px;
  }
  .img-space {
    width: 100%;
    height: 50px;
  }
}

/* 360px - 400px */
@media (min-width: 360px) and (max-width: 400px) {
  .card {
    width: 150px;
    height: 170px;
  }
  .card-img {
    width: 80px;
    height: 80px;
  }
  .img-space {
    width: 100%;
    height: 58px;
  }
}

/* after 400px */
@media (min-width: 400px) {
  .card {
    width: 160px;
    height: 200px;
  }
  .card-img {
    width: 90px;
    height: 90px;
  }
  .img-space {
    width: 100%;
    height: 70px;
  }
  .card-title,
  .star-text,
  .card-price {
    font-size: 18px;
  }
}

/* after 430px */
@media (min-width: 430px) {
  .card {
    width: 170px;
    height: 210px;
  }
  .card-img {
    width: 100px;
    height: 100px;
  }
  .img-space {
    width: 100%;
    height: 80px;
  }
  .card-title,
  .star-text,
  .card-price {
    font-size: 18px;
  }
  .red-cross {
    border: 1.5px solid red;
    top: 7px;
  }
}

/* after 490px - 600px */
@media (min-width: 490px) and (max-width: 600px) {
  .card {
    width: 200px;
    height: 230px;
  }
  .card-img {
    width: 100px;
    height: 100px;
  }
  .img-space {
    width: 100%;
    height: 80px;
  }
  .card-title,
  .star-text,
  .card-price {
    font-size: 20px;
  }
  .card-btn {
    font-size: 16px;
  }
}

@media (min-width: 601px) {
  .card {
    width: 220px;
    height: 260px;
  }
  .card-img {
    width: 110px;
    height: 110px;
  }
  .img-space {
    width: 100%;
    height: 90px;
  }
  .card-title,
  .star-text,
  .card-price {
    font-size: 24px;
  }
  .card-btn {
    font-size: 18px;
  }
  .red-cross {
    border: 1.5px solid red;
    top: 5px;
    margin-left: 2px;
  }
}
@media (min-width: 640px) {
  .red-cross {
    border: 1.5px solid red;
    top: 10px;
  }
}

@media (min-width: 768px) {
  .card {
    width: 170px;
    height: 200px;
  }
  .card-img {
    width: 80px;
    height: 80px;
  }
  .img-space {
    width: 100%;
    height: 60px;
  }
  .card-title,
  .star-text,
  .card-price {
    font-size: 16px;
  }
  .card-btn {
    font-size: 14px;
  }
  .red-cross {
    border: 1.5px solid red;
    top: 12px;
  }
}

@media (min-width: 920px) {
  .card {
    width: 190px;
    height: 220px;
  }
  .card-img {
    width: 90px;
    height: 90px;
  }
  .img-space {
    width: 100%;
    height: 70px;
  }
}

@media (min-width: 1024px) {
  .card {
    width: 210px;
    height: 240px;
  }
  .card-img {
    width: 110px;
    height: 110px;
  }
  .img-space {
    width: 100%;
    height: 70px;
  }
  .card-title,
  .star-text,
  .card-price {
    font-size: 20px;
  }
}

@media (min-width: 1600px) {
  .card {
    width: 270px;
    height: 320px;
  }
  .card-img {
    width: 160px;
    height: 160px;
  }
  .img-space {
    width: 100%;
    height: 120px;
  }
  .card-title,
  .star-text,
  .card-price {
    font-size: 26px;
  }
  .card-btn {
    font-size: 24px;
    padding: 8px 6px;
  }
  .red-cross {
    border: 1.5px solid red;
    top: 9px;
  }
}

@media (min-width: 2200px) {
  .card {
    width: 390px;
    height: 440px;
    padding-left: 10px;
  }
  .card-img {
    width: 200px;
    height: 200px;
  }
  .img-space {
    width: 100%;
    height: 150px;
  }
  .card-title,
  .star-text,
  .card-price {
    font-size: 36px;
  }
  .card-btn {
    font-size: 28px;
    padding: 8px 6px;
  }
  .red-cross {
    border: 2px solid red;
    top: 5px;
  }
}
