@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

body {
  max-width: 2440px;
  min-width: 360px;
  margin: 0 auto;
}

.overlay {
  background: linear-gradient(
    to top right,
    rgba(0, 0, 0, 0.9) 20%,
    rgba(0, 0, 0, 0.3) 90%
  );
  @apply absolute top-0 left-0 w-full h-full;
}

/* Style of map container leaflet  */

.leaflet-container {
  @apply h-screen w-full;
}

.custom-icon {
  @apply bg-colorRed size-8 text-white rounded-full flex justify-center items-center;
}

/* Home banner slider bg */

@media (max-width: 477px) {
  .slider-bg {
    width: 100%;
    height: 80%;
    margin-top: 60px;
  }
}

@media (min-width: 477px) {
  .slider-bg {
    width: 100%;
    height: 80%;
    margin-top: 60px;
  }
}
@media (min-width: 488px) and (max-width: 768px) {
  .slider-bg {
    width: 450px;
    height: 80%;
    margin-top: 100px;
  }
}

@media (min-width: 1157px) {
  .slider-bg {
    width: 448px;
    height: 80%;
    margin-top: 100px;
  }
}

/* CARD TITLE */
.card-title {
  color: #1f2937;
  font-size: 14px;
  font-weight: 700;
}

/* CARD */

@media (max-width: 360px) {
  .card {
    width: 150px;
    height: 170px;
  }
  .card-img {
    width: 70px;
    height: 70px;
  }
  .img-space {
    width: 100%;
    height: 50px;
  }
}

@media (min-width: 360px) and (max-width: 400px) {
  .card {
    width: 150px;
    height: 200px;
  }
  .card-img {
    width: 80px;
    height: 80px;
  }
  .img-space {
    width: 100%;
    height: 70px;
  }
}

@media (min-width: 400px) {
  .card {
    width: 160px;
    height: 200px;
  }
  .card-img {
    width: 90px;
    height: 90px;
  }
  .img-space {
    width: 100%;
    height: 70px;
  }
}

@media (min-width: 430px) {
  .card {
    width: 170px;
    height: 210px;
  }
  .card-img {
    width: 100px;
    height: 100px;
  }
  .img-space {
    width: 100%;
    height: 80px;
  }
}

@media (min-width: 490px) and (max-width: 600px) {
  .card {
    width: 200px;
    height: 230px;
  }
  .card-img {
    width: 100px;
    height: 100px;
  }
  .img-space {
    width: 100%;
    height: 80px;
  }
  .card-title {
    font-size: 20px;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .card {
    width: 220px;
    height: 260px;
  }
  .card-img {
    width: 110px;
    height: 110px;
  }
  .img-space {
    width: 100%;
    height: 90px;
  }
  .card-title {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .card {
    width: 170px;
    height: 220px;
  }
  .card-img {
    width: 80px;
    height: 80px;
  }
  .img-space {
    width: 100%;
    height: 60px;
  }
  .card-title {
    font-size: 18px;
  }
}

@media (min-width: 920px) {
  .card {
    width: 190px;
    height: 220px;
  }
  .card-img {
    width: 90px;
    height: 90px;
  }
  .img-space {
    width: 100%;
    height: 70px;
  }
}

@media (min-width: 1024px) {
  .card {
    width: 210px;
    height: 240px;
  }
  .card-img {
    width: 110px;
    height: 110px;
  }
  .img-space {
    width: 100%;
    height: 70px;
  }
  .card-title {
    font-size: 20px;
    color: red;
  }
}
