.slider-container {
  position: relative;
  margin: 0 auto;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0px 15px;
}

.slider-content-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.slider-content {
  display: flex;
  width: 100%;
}

.slide {
  min-width: 100%;
  text-align: center;
  padding: 0;
  display: flex;
  justify-content: center;
}

.slide-image {
  @apply w-full h-full relative top-44;
}
.btn-div {
  @apply absolute -bottom-2 sm:bottom-2 md:-bottom-5 space-x-5 flex;
}
.arrow {
  @apply w-24 h-14 md:w-16 md:h-10 lg:size-[50px];
}
.arrow-button {
  @apply px-3 lg:px-10 border rounded-tr-[30px] rounded-bl-[30px];
}

.btn-div .arrow-button:nth-child(1) {
  @apply text-white bg-[#280d0d];
}
.btn-div .arrow-button:nth-child(2) {
  @apply text-white bg-[#170606] rotate-180;
}
